spawnmenu {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 150px;
    margin-bottom: 150px;
    border-radius: 5px;
    pointer-events: none;
    transition: opacity 0.01s ease-out;
    position: absolute;
    font-family: poppins;
    opacity: 0;

    .left {
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        // left: -500px;
        transition: opacity 0.03s ease-in;

        .body {
            border-radius: 10px;
            background-color: rgba( #111, 0.7 );
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            .chooseateam {
                top: 50px;
                font-size: 100px;
                font-weight: bold;
                color: white;
            }

            .specChoice {
                display: absolute;
                font-size: 30px;
                color: black;
                bottom: 50px;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.7);
                transition: transform 0.03s ease-in-out;
                padding: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;

                &:hover {
                    transform: scale(1.2, 1.2, 1.2);
                }
            }

            .teamChoice {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                // width: 100%;
                .hunterChoice {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: white;
                    font-size: 75px;
                    text-align: center;
                    background-color: rgb(94, 179, 255);
                    width: 25%;
                    aspect-ratio: 1;
                    height: 60%;
                    margin-right: 15%;
                    cursor: pointer;
                    border-radius: 25px;
                    transition: transform 0.03s ease-in-out;
                    
                    .teamNumHunters {
                        font-size: 25px;
                        // margin-top: 5%;
                        font-style: italic;
                        position: absolute;
                        top: 62.5%;
                    }

                    &:hover {
                        transform: scale(1.2, 1.2, 1.2);
                    }
                }
                .propChoice {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 75px;
                    text-align: center;
                    flex-direction: column;
                    color: white;
                    background-color: rgb(255, 60, 60);
                    width: 25%;
                    aspect-ratio: 1;
                    height: 60%;
                    margin-left: 15%;
                    cursor: pointer;
                    border-radius: 25px;
                    transition: transform 0.03s ease-in-out;

                    .teamNumProps {
                        font-size: 25px;
                        // margin-top: 5%; 
                        font-style: italic;
                        position: absolute;
                        top: 62.5%;
                    }
                    
                    &:hover {
                        transform: scale(1.2, 1.2, 1.2);
                    }
                }
            }
        }
    }
}


.spawnmenuopen spawnmenu {
    transition: opacity 0.02s ease-out;
    pointer-events: all;
    opacity: 1;
    transform: scale( 1 );

    .left, .right {
        left: 0;
        transition: opacity 0.01s ease-out;
    }
}

.spawnpage {
    display: none;

    &.active {
        display: flex;
        opacity: 1;
    }
}
