topbar
{
	// background-color: red;
	position: absolute;
	top: 1.5%;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	.topBarInner 
	{
		background-color: rgba(0, 0, 0, 0.5);
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		.topBar 
		{
			color: white;
			font-size: 25px;
			font-family: Roboto;
			&.hide {
				display: none;
			}
		}
		&.hide {
			display: none;
		}
	}
	&.hide {
		display: none;
	}
}